.layerPannel{
    margin: 0 20px;

}
.pannelWrap{
    height: 100%;
    :global{
      .ant-spin-nested-loading{
        position: absolute;
        top: 47px;
        bottom: 0;
        overflow: scroll;
      }
    }
    .canvases{
        background: rgba(255, 252, 248, 0.31);
    }
    
    .active{
        border-bottom: @primary-color solid 1px !important;
        transition: border-bottom ease-in-out 0.3s;
    }
}
