@import '~antd/lib/style/index.less';

.container{
  overflow: hidden;
  background-color: @primary-color;
  height:100%;
  &>heaser {
    background-color: gray;
  }
}

.FileMenu{
  :global{
    ul{
      li {
        span{
          padding:0 5px;
        }
      }
    }
  }
}