.PCanvas_bc01f {
  width: 100%;
  height: 100%;
  background: #808080;
}
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */

